<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002138254102-qo9jp8c3lc69p9lclu0rtp5dmt1kulv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002138254102-qo9jp8c3lc69p9lclu0rtp5dmt1kulv7</string>
	<key>API_KEY</key>
	<string>AIzaSyD01jR14RevQibnzkg4tBUbFzc7UjKESFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1002138254102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ali.paimai.fluttergo</string>
	<key>PROJECT_ID</key>
	<string>ali-flutter-go</string>
	<key>STORAGE_BUCKET</key>
	<string>ali-flutter-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002138254102:ios:00e8533fa0274183</string>
	<key>DATABASE_URL</key>
	<string>https://ali-flutter-go.firebaseio.com</string>
</dict>
</plist>